-- Pharmadoc Integrations Schema Extension
-- Adds calendar and video meeting integration capabilities

-- ========================================
-- ENUMS AND TYPES
-- ========================================

-- OAuth provider types
CREATE TYPE provider_type AS ENUM ('google', 'microsoft', 'zoom', 'caldav');

-- Integration status
CREATE TYPE integration_status AS ENUM ('connected', 'disconnected', 'error', 'expired', 'pending');

-- Calendar sync status
CREATE TYPE sync_status AS ENUM ('pending', 'syncing', 'synced', 'failed', 'conflict');

-- Video meeting providers
CREATE TYPE video_provider AS ENUM ('zoom', 'google_meet', 'microsoft_teams', 'phone', 'in_person');

-- Webhook event types
CREATE TYPE webhook_event_type AS ENUM (
    'calendar_event_created',
    'calendar_event_updated', 
    'calendar_event_deleted',
    'meeting_started',
    'meeting_ended',
    'meeting_participant_joined',
    'meeting_participant_left'
);

-- ========================================
-- USER INTEGRATIONS TABLE
-- ========================================

CREATE TABLE user_integrations (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    user_id UUID NOT NULL REFERENCES users(id) ON DELETE CASCADE,
    provider provider_type NOT NULL,
    provider_user_id VARCHAR(255), -- External provider's user ID
    provider_email VARCHAR(255), -- Email used with the provider
    
    -- OAuth tokens (encrypted in production)
    access_token TEXT,
    refresh_token TEXT,
    token_expires_at TIMESTAMPTZ,
    scope TEXT[], -- OAuth scopes granted
    
    -- Provider-specific configuration
    config JSONB DEFAULT '{}', -- Provider-specific settings
    
    -- Integration status and health
    status integration_status DEFAULT 'pending',
    last_sync_at TIMESTAMPTZ,
    last_error TEXT,
    error_count INTEGER DEFAULT 0,
    
    -- Metadata
    provider_account_name VARCHAR(255), -- Display name from provider
    avatar_url VARCHAR(500),
    
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    
    -- Constraints
    UNIQUE(user_id, provider, provider_user_id),
    CONSTRAINT valid_token_expiry CHECK (
        (access_token IS NULL) OR 
        (access_token IS NOT NULL AND token_expires_at IS NOT NULL)
    )
);

-- ========================================
-- CALENDAR EVENTS TABLE
-- ========================================

CREATE TABLE calendar_events (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    integration_id UUID NOT NULL REFERENCES user_integrations(id) ON DELETE CASCADE,
    appointment_id UUID REFERENCES appointments(id) ON DELETE SET NULL,
    
    -- External calendar event details
    external_event_id VARCHAR(255) NOT NULL, -- Provider's event ID
    external_calendar_id VARCHAR(255), -- Provider's calendar ID
    
    -- Event details
    title VARCHAR(255) NOT NULL,
    description TEXT,
    start_time TIMESTAMPTZ NOT NULL,
    end_time TIMESTAMPTZ NOT NULL,
    timezone VARCHAR(100) DEFAULT 'UTC',
    location VARCHAR(500),
    
    -- Meeting details (if virtual)
    meeting_url VARCHAR(500),
    meeting_id VARCHAR(255),
    meeting_password VARCHAR(100),
    
    -- Sync tracking
    sync_status sync_status DEFAULT 'pending',
    last_synced_at TIMESTAMPTZ,
    sync_error TEXT,
    etag VARCHAR(255), -- For optimistic concurrency
    
    -- Metadata
    attendees JSONB DEFAULT '[]', -- Array of attendee objects
    recurrence_rule TEXT, -- RRULE for recurring events
    is_all_day BOOLEAN DEFAULT false,
    
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    
    -- Constraints
    UNIQUE(integration_id, external_event_id),
    CONSTRAINT valid_time_range CHECK (start_time < end_time)
);

-- ========================================
-- MEETING INTEGRATIONS TABLE
-- ========================================

CREATE TABLE meeting_integrations (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    appointment_id UUID NOT NULL REFERENCES appointments(id) ON DELETE CASCADE,
    integration_id UUID NOT NULL REFERENCES user_integrations(id) ON DELETE CASCADE,
    
    -- Meeting details
    provider video_provider NOT NULL,
    external_meeting_id VARCHAR(255), -- Provider's meeting ID
    meeting_url VARCHAR(500),
    meeting_password VARCHAR(100),
    host_key VARCHAR(100), -- For hosts to control meeting
    
    -- Meeting configuration
    settings JSONB DEFAULT '{}', -- Provider-specific meeting settings
    
    -- Meeting status tracking
    status VARCHAR(50) DEFAULT 'scheduled', -- scheduled, started, ended, cancelled
    started_at TIMESTAMPTZ,
    ended_at TIMESTAMPTZ,
    duration_minutes INTEGER,
    
    -- Participant tracking
    participants JSONB DEFAULT '[]', -- Array of participant objects
    max_participants INTEGER,
    
    -- Recording and analytics
    recording_url VARCHAR(500),
    recording_password VARCHAR(100),
    analytics JSONB DEFAULT '{}', -- Meeting analytics data
    
    created_at TIMESTAMPTZ DEFAULT NOW(),
    updated_at TIMESTAMPTZ DEFAULT NOW(),
    
    -- Constraints
    UNIQUE(appointment_id, provider),
    CONSTRAINT valid_meeting_duration CHECK (
        (started_at IS NULL AND ended_at IS NULL) OR
        (started_at IS NOT NULL AND ended_at IS NULL) OR
        (started_at IS NOT NULL AND ended_at IS NOT NULL AND started_at < ended_at)
    )
);

-- ========================================
-- INTEGRATION WEBHOOKS TABLE
-- ========================================

CREATE TABLE integration_webhooks (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    integration_id UUID REFERENCES user_integrations(id) ON DELETE CASCADE,
    
    -- Webhook details
    provider provider_type NOT NULL,
    event_type webhook_event_type NOT NULL,
    external_event_id VARCHAR(255), -- Provider's event ID
    
    -- Webhook payload
    payload JSONB NOT NULL,
    headers JSONB DEFAULT '{}',
    
    -- Processing status
    processed BOOLEAN DEFAULT false,
    processed_at TIMESTAMPTZ,
    processing_error TEXT,
    retry_count INTEGER DEFAULT 0,
    
    -- Metadata
    webhook_url VARCHAR(500), -- Our webhook endpoint that received this
    source_ip INET, -- IP address of the webhook sender
    
    created_at TIMESTAMPTZ DEFAULT NOW(),
    
    -- Constraints
    CONSTRAINT valid_retry_count CHECK (retry_count >= 0 AND retry_count <= 5)
);

-- ========================================
-- EXTEND APPOINTMENTS TABLE
-- ========================================

-- Add integration-related columns to existing appointments table
ALTER TABLE appointments 
ADD COLUMN IF NOT EXISTS video_provider video_provider DEFAULT 'in_person',
ADD COLUMN IF NOT EXISTS calendar_sync_status sync_status DEFAULT 'pending',
ADD COLUMN IF NOT EXISTS automated_reminders BOOLEAN DEFAULT true,
ADD COLUMN IF NOT EXISTS integration_data JSONB DEFAULT '{}';

-- ========================================
-- INDEXES FOR PERFORMANCE
-- ========================================

-- User integrations indexes
CREATE INDEX idx_user_integrations_user_provider ON user_integrations(user_id, provider);
CREATE INDEX idx_user_integrations_status ON user_integrations(status, provider);
CREATE INDEX idx_user_integrations_token_expiry ON user_integrations(token_expires_at) WHERE access_token IS NOT NULL;
CREATE INDEX idx_user_integrations_last_sync ON user_integrations(last_sync_at, status);

-- Calendar events indexes
CREATE INDEX idx_calendar_events_integration ON calendar_events(integration_id, sync_status);
CREATE INDEX idx_calendar_events_appointment ON calendar_events(appointment_id) WHERE appointment_id IS NOT NULL;
CREATE INDEX idx_calendar_events_external ON calendar_events(integration_id, external_event_id);
CREATE INDEX idx_calendar_events_time_range ON calendar_events(start_time, end_time);
CREATE INDEX idx_calendar_events_sync_status ON calendar_events(sync_status, last_synced_at);

-- Meeting integrations indexes
CREATE INDEX idx_meeting_integrations_appointment ON meeting_integrations(appointment_id, provider);
CREATE INDEX idx_meeting_integrations_integration ON meeting_integrations(integration_id, status);
CREATE INDEX idx_meeting_integrations_external ON meeting_integrations(provider, external_meeting_id);
CREATE INDEX idx_meeting_integrations_status_time ON meeting_integrations(status, started_at);

-- Webhook indexes
CREATE INDEX idx_integration_webhooks_provider_type ON integration_webhooks(provider, event_type);
CREATE INDEX idx_integration_webhooks_processed ON integration_webhooks(processed, created_at);
CREATE INDEX idx_integration_webhooks_integration ON integration_webhooks(integration_id, created_at);
CREATE INDEX idx_integration_webhooks_retry ON integration_webhooks(retry_count, created_at) WHERE NOT processed;

-- Appointments integration indexes
CREATE INDEX idx_appointments_video_provider ON appointments(video_provider) WHERE video_provider != 'in_person';
CREATE INDEX idx_appointments_sync_status ON appointments(calendar_sync_status, updated_at);

-- ========================================
-- TRIGGERS FOR UPDATED_AT
-- ========================================

-- Create triggers for automatic updated_at timestamp updates
CREATE TRIGGER update_user_integrations_updated_at 
    BEFORE UPDATE ON user_integrations 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_calendar_events_updated_at 
    BEFORE UPDATE ON calendar_events 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_meeting_integrations_updated_at 
    BEFORE UPDATE ON meeting_integrations 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- ========================================
-- SECURITY FUNCTIONS
-- ========================================

-- Function to check if user owns integration
CREATE OR REPLACE FUNCTION user_owns_integration(integration_uuid UUID, user_uuid UUID)
RETURNS BOOLEAN AS $$
BEGIN
    RETURN EXISTS (
        SELECT 1 FROM user_integrations 
        WHERE id = integration_uuid AND user_id = user_uuid
    );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Function to check if user can access calendar event
CREATE OR REPLACE FUNCTION user_can_access_calendar_event(event_uuid UUID, user_uuid UUID)
RETURNS BOOLEAN AS $$
BEGIN
    RETURN EXISTS (
        SELECT 1 FROM calendar_events ce
        JOIN user_integrations ui ON ce.integration_id = ui.id
        WHERE ce.id = event_uuid AND ui.user_id = user_uuid
    );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Function to check if user can access meeting
CREATE OR REPLACE FUNCTION user_can_access_meeting(meeting_uuid UUID, user_uuid UUID)
RETURNS BOOLEAN AS $$
BEGIN
    RETURN EXISTS (
        SELECT 1 FROM meeting_integrations mi
        JOIN appointments a ON mi.appointment_id = a.id
        WHERE mi.id = meeting_uuid 
        AND (a.doctor_id = user_uuid OR a.pharma_rep_id = user_uuid)
    );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;
